<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs', {title:'Főoldal'}) %>
<body>

    <form action="/listaz.ejs" method="POST">
      <p>Cím:<input type="text" name="cim"></p>

      <p>Szerző:<input type="text" name="szerzo"></p>

      <p>Minimum év: <input type="number" name="minev" min="1"></p>

      <p>Maximum év:<input type="number" name="maxev" max="2024"></p>

      <p>
        <input type="checkbox" name="raktaron">
        <label for="raktaron">Készleten</label>
      </p>

      <p><button type="submit">Keresés</button></p>
    </form>

    <table>
        <th>isbn</th>
        <th>cím</th>
        <th>szerző</th>
        <th>kiadási_év</th>
        <th>borító</th>
        <th>peldányok</th>
        <th>összkölcsönzések</th>
        <th>részletek</th>

        <% konyvlista.forEach((row) => {%>
            <tr id="<%=row.isbn%>">

                <td class="isbnclass" id="<%=row.isbn%>"><%= row.isbn %></td>
                <td><%= row.cim %></td>
                <td><%= row.szerzo %></td>
                <td><%= row.kiadasi_ev %></td>
                <td><%= row.borito %></td>
                <td><%= row.peldanyok %></td>
                <td><%= row.osszkolcsonzesek %></td>
                <td><a href="/konyv/<%= row.isbn %>" id="lasdAtag">Lásd</a></td>
                <% if (bejelFelhSzerepkor === 'admin'){ %>
                    <td><button id="<%=row.isbn%>" class="gomb">Töröl</button></td>
                <% } %>
            </tr>
            <tr id="<%=row.isbn%>osszefSor">
                <td colspan="9"><p id="<%=row.isbn%>osszef" class="info"></p></td>
            </tr>

        <%});%>

    </table>

    <nav>
        <% if(bejelentkezettFelhasznalo){ %>
            <div class="navgomb">Bejelentkezett: <%= bejelentkezettFelhasznalo %></div>
        <% } else { %>
            <div class="navgomb">Senki nincs bejelentkezve</div>
        <% } %>
        <a href="/form1.ejs" id="bevezetkonyvA"><div class="navgomb">Könyv hozzáadása</div></a>
        <a href="/form2.ejs" id="kolcsonozkonyvA"><div class="navgomb">Kikölcsönzés</div></a>
        <% if(bejelentkezettFelhasznalo){ %>
            <a href="/kijelentkezes" id="kijeljelAtag"><div class="navgomb">Kijelentkezés</div></a>
            <a href="/adatokModositasa" id="adatmodositoAtag"><div class="navgomb">Adatok módosítása</div></a>
        <% }else{ %>
            <a href="/bejelentkezes" id="bejelAtag"><div class="navgomb">Bejelentkezés</div></a>
        <% } %>
        <% if(!bejelentkezettFelhasznalo){ %>
            <a href="/regisztracio" id="regisztracioA"><div class="navgomb">Regisztráció</div></a>
        <% } %>
        <% if (bejelFelhSzerepkor === 'admin'){ %>
            <a href="/felhasznalokAdmin" id=""><div class="navgomb">Felhasználók</div></a>
        <% } %>
        <% if(bejelentkezettFelhasznalo){ %>
            <a href="/kolcsonzesek/<%=bejelentkezettFelhasznalo%>" id="sajatKolcsA"><div class="navgomb">Saját kölcsönzések</div></a>
            <a href="/ertekelesek/<%=bejelentkezettFelhasznalo%>" id="sajatErtekelesekA"><div class="navgomb">Saját értékelések</div></a>
    <% } %>
    </nav>
    <script src="/listaz.js"></script>
</body>
</html>