<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs', {title:'Részletek'}) %>
<body>

      <p id="uzenet"><% if (message) { %>
        <%= message %>
        <% } %>
      </p>

    <h1>Kölcsönzések</h1>
    <table>
        <th>nev</th>
        <th>isbn</th>
        <th>borito</th>

        <% reszletek.forEach((row)=>{%>
            <tr id="<%=row.nev%>/<%=row.isbn%>" class="sorok">
                <td><%=row.nev%></td>
                <td><%=row.isbn%></td>
                <td><img src="<%=pathh%>" width="150" height="100"></td>
                <% if(bejelentkezettFelhasznalo === row.nev){ %>
                <td><button id="<%=row.isbn%>gomb" class="gomb">Töröl</button></td>
                <% } %>
            </tr>
        <%}); %>

    </table>

<% if(bejelentkezettFelhasznalo){ %>
    <form action="/reszletek.ejs" method="POST">
      <p>Név:
        <select name="nev"required>

          <option value="<%=bejelentkezettFelhasznalo%>"><%=bejelentkezettFelhasznalo%></option>

        </select>
      </p>
      <p id="noisbnP">ISBN: <input type="text" id="noISBN" name="isbn" value="<%=isbn%>" required></p>
      <p>
        Művelet:
        <select name="muvelet" required>
          <option value="kolcsonoz">Kikölcsönzés</option>
          <option value="visszasz">Visszaszolgáltatás</option>
        </select>
      </p>
      <p><button type="submit">Végrehajt!</button></p>
    </form>
    <% } %>
    <nav>
      <% if(bejelentkezettFelhasznalo){ %>
        <div class="navgomb" id="kivanbejel">Bejelentkezett: <%= bejelentkezettFelhasznalo %></div>
      <% }else{ %>
        <div class="navgomb" id="kivanbejel">Senki nincs bejelentkezbe</div>
      <% } %>
      <a href="/" id="fooldalA"><div class="navgomb">Főoldalra</div></a>
      <% if(bejelentkezettFelhasznalo){ %>
            <a href="/kijelentkezes" id="kijeljelAtag"><div class="navgomb">Kijelentkezés</div></a>
      <% }else{ %>
          <a href="/bejelentkezes" id="bejelAtag"><div class="navgomb">Bejelentkezés</div></a>
      <% } %>

    </nav>


    <script src="/reszletek.js"></script>
</body>
</html>